*{
        padding: 0px;
		margin: 0px;
}
h1{
	font: bold 40px Dancing Script OT, sans-serif;
}
h2{
	font: bold 20px Dancing Script OT, sans-serif;
}
body{
	background: #02010a;
	padding-top: 5px;
	padding-bottom: 15px; 
	width: 100%;		
	margin-left: auto;
  	margin-right: auto;
}
img {
	height: auto;
	max-width: 100%;
}
@keyframes slidein {
	0% {
 	 margin-top: 150%;
	}
	60% {
		  margin-top: -5%;
	}
	100% {
		  margin-top: 0%;
	}
}
.flexbox-cabecera{
	animation-name: slidein;
	animation-duration: 2s;

	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
	}
.flexbox-cabecera > div{
	padding: 5px;
    background: #5b7989;
	color: #FFFFFF;
	text-shadow: #02010a 2px 2px 2px; 
}
#encabezado{
	text-align: center;

	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius-top: 10px 10px 0px 0px;
}
#paginas{
	text-align: center;
}
#menu li{
	display: inline;
   	margin: 10px;
	font: bold 25px Dancing Script OT, sans-serif;
	color: #FFFFFF;
}
#menu li a {
   color: #FFFFFF;
}
#menu li a:hover{
   color: #82c3a6;
}
#central{
	background: #82c3a6;
	padding: 30px;
	text-align: center;
	margin: 0px;
	box-shadow: 2px 2px 2px #02010a;
	align-items: center;
}
#central img{
	width: 500px; height:310px;
}
.flexbox-lateral {
	background: #d5c75f;	
}
.flexbox-lateral > div{
    padding: 30px;
	text-align: center;
}
.flexbox-lateral img{
	width: 500px;
	height: 310px
	}
#derecha img:hover{
	box-shadow: 2px 2px 2px #82c3a6;

	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
}
#izquierda img:hover{
	box-shadow: 2px 2px 2px #82c3a6;
 	transform: translate(20px, 5px);
 }
#pie{
	background: #C6d5c5;
  	color: #02010a;
	margin: 0px;
	font: bold 20px Dancing Script OT, sans-serif;

	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius-top: 0px 0px 10px 10px;
}
.flexbox-pie > div{
	padding: 20px;
}
@media (min-width: 900px) {
 	.contenido {
   		width: 80%;
   		margin-left: auto;
   		margin-right: auto; 
	}
	#encabezado {
	   	text-align: left;	
	}
	#paginas {
	   	text-align: right;
	}
	#central img{
		width: 600px; height:310px;
	}
	.flexbox-lateral{

		display: flex;
		justify-content: space-between;
	}
	.flexbox-lateral img{
		width: 450px; height:310px;
	}
	.flexbox-pie{
		display: flex;
		justify-content: space-between;
	}
}
@media (min-width: 600px) {
	.contenido{
		padding: 10px;
	}	
}